<h3 class="region-name">{{ regionName }}</h3>

<mat-form-field class="example-full-width">
  <mat-label>Search</mat-label>
  <input type="text" matInput [(ngModel)]="cityFilter" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="cities">
  @for(city of cityWeather$ | async | columnFilter:cityFilter; track city.name)
  {
  <div class="city">
    <h5 class="title">{{ city.name }}</h5>
    <div class="details">
      <span class="temperature"
        >{{ city.temperature | number : "1.0-0" }} °C</span
      >
      <span class="country">{{ city.country }}</span>
    </div>
  </div>
  } @empty {
  <app-loader />
  }
</div>
